<h1 style="text-align: center;background-color: antiquewhite;color: blue;">Material Weight Calculator</h1>
<div style="margin-left: 1%;">
    <table>
        <tr>
            <td style="font-weight: bold;"><a href="/hexa/">Hexagonal rod</a></td>
        </tr>
        <tr>
            <td style="font-weight: bold;"><a href="/round/">round rod</a></td>
        </tr>
        <tr>
            <td style="font-weight: bold;"><a href="/square/">square rod</a></td>
        </tr>
        <tr>
            <td style="font-weight: bold;"><a href="/tube/">tube</a></td>
        </tr>
        <tr>
            <td style="font-weight: bold;"><a href="/flat/">flat</a></td>
        </tr>
    </table>
</div>
