<!DOCTYPE html>
<html>
    <head>
        <title>home</title>
        {% load static %}
         <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
         <!-- jQuery library -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         <!-- Latest compiled JavaScript -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1 style="text-align: center;background-color: antiquewhite;color: blue;">Material Weight Calculator</h1>
        <table style="margin-left: 1%;">
            <tr>
                <td style="font-weight: bold;"><a href="/hexa/">Hexagonal rod</a></td>
            </tr>
            <tr>
                <td style="font-weight: bold;"><a href="/round/">round rod</a></td>
            </tr>
            <tr>
                <td style="font-weight: bold;"><a href="/square/">square rod</a></td>
            </tr>
            <tr>
                <td style="font-weight: bold;"><a href="/tube/">tube</a></td>
            </tr>
            <tr>
                <td style="font-weight: bold;"><a href="/flat/">flat</a></td>
            </tr>
        </table>
    </body>
</html>