<!DOCTYPE html>
<html>
    <head>
        <title>round</title>
        {% load static %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form method="POST">
                {% csrf_token %}
                {% include 'snippets/snip.html' %}
                <h1 style="text-align: center; font-style: oblique;color: chocolate">Steel Rod(cylindrical)</h1><br><br>
                <div class="row col-md-4 col-md-push-4">
                    <table class="">
                        <tr>
                            <td>
                                <div class="">
                                    <select id = "myList" name="list" class="">
                                        <option value = "0.00617">steel</option>
                                        <option value = "0.00698">copper</option>
                                        <option value = "0.00668">brass</option>
                                        <option value = "0.0022">aluminium</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Enter diameter</td>
                            <td><input type="number" name="dia" placeholder="values in mm"></td>
                        </tr>
                        <tr>
                            <td>Enter length</td>
                            <td><input type="number" name="len" placeholder="values in Meter"></td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" class="btn btn-primary">submit</button><br><br>
                                <p style="font-size: x-large;">weight={{res1}}kg</p>
                                <a href="/home/">HOME</a>
                            </td>
                    </tr>
                </table>
            </div>
                
        </form>
       
    </body>
</html>